*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#07111f;
color:white;
}

.navbar{
height:80px;
background:#0d1828;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 30px;
border-bottom:1px solid #162847;
position:sticky;
top:0;
z-index:100;
}

.logo{
font-size:38px;
font-weight:900;
color:#ffd34d;
text-shadow:0 0 10px rgba(255,211,77,.3);
}

.search{
width:300px;
padding:14px;
border:none;
border-radius:12px;
background:#fff;
font-size:15px;
}

.container{
max-width:1300px;
margin:auto;
padding:25px;
}

.tabs{
display:flex;
gap:12px;
overflow-x:auto;
padding-bottom:25px;
}

.tabs::-webkit-scrollbar{
display:none;
}

.tab{
display:flex;
align-items:center;
gap:8px;

background:#0d1828;
color:white;
border:1px solid #203759;

padding:14px 18px;
border-radius:14px;

cursor:pointer;
font-weight:700;

transition:.2s;
white-space:nowrap;
}

.tab:hover{
background:#152947;
transform:translateY(-2px);
}

.tab.active{
border:2px solid gold;
box-shadow:0 0 15px rgba(255,215,0,.25);
}

.tab-icon{
width:28px;
height:28px;
image-rendering:pixelated;
}

.title{
font-size:56px;
font-weight:900;
margin-bottom:30px;
}

#leaderboard{
display:flex;
flex-direction:column;
gap:12px;
}

.player{
display:flex;
align-items:center;
justify-content:space-between;

background:#0d1828;

padding:18px 22px;

border-radius:14px;

transition:.2s;
}

.player:hover{
background:#132441;
transform:translateY(-2px);
}

.player-left{
display:flex;
align-items:center;
gap:25px;
}

.rank{
font-size:20px;
font-weight:800;
width:60px;
color:#cfcfcf;
}

.name{
font-size:22px;
font-weight:700;
}

.tier{
background:#f1b90b;
color:black;

padding:10px 16px;

border-radius:10px;

font-weight:800;
min-width:60px;
text-align:center;
}

.empty{
opacity:.55;
}

.empty .tier{
background:#2a3445;
color:#888;
}

@media(max-width:800px){

.search{
width:180px;
}

.logo{
font-size:28px;
}

.title{
font-size:40px;
}

}
